

body{
		font-family: sans-serif;
		background-color: white;
}

h2	{
		font-family: 'Open Sans Condensed', sans-serif;
		text-transform: uppercase;
}

.navbar	{
	font-size: 20px;
	padding: 5px;
	float: right;
	text-transform: uppercase;
	background-color: lightgray;
}

.LogoImg	{
	width: 130px;
	height: 80px;
	float: left;
	margin-top:-18px;	
	margin-bottom: -16px;
}

.nav 	{
	padding-top: 15px;
}

.nav a{
	font-size: 17px;
}


.googlefont	{
	font-family : 'Tangerine', cursive;
	height: 200px;
	margin-top: 20px;
	font-size: 80px;
	padding:30px 270px;
	background-color: #020D21;
}

.googlefont p{
	color: white;
}

.fashionImg1, .fashionImg2, .fashionImg3	{
	height: 400px;
	width: 350px;
	padding: 20px;
	margin-left: 15px;
}

.color{
	background: #B9C2D2;
}

p, li 	{
	color: white;
}

h2	{
	color:white;
	background:black;
}

.fashiontip_content{
	/*float:right;*/
	width: 200px;
    font-family: 'Playfair Display', serif;
    font-family: 'Great Vibes', cursive;
    font-family: 'Amiri', serif;
    line-height: 28px;
    font-size: 22px;
    color: black;
    text-align: justify;

}
.fashiontip_top{
	margin-top: 20px;

}

.fashiontip img{
	width:250px;
    height: 380px;
    float: left;
}

.fashiontip1 img{
	width:250px;
    height: 380px;
    float: left;
}

.fashiontip_content,.fashiontip_head{
	width: 250px;
	margin-top: -10px;
	padding-top: 20px;
	font-style: justify;
}

.fashiontip_head{
	font-size: 25px;
	color: black;
}

.fashiontip1{
	float: right;
}
.fashiontip{
	float:left;
}

.fashiontip h1,p{
	float: right;
	margin-left: 10px;
}

.fashiontip1 h1,p{
	float: right;
	margin-left: 10px;
}

.fashiontip_top{
	margin-top: 35px;
}

.beautytip{
    float: left;
    margin:20px 200px ;
    color: black;
	text-align: justify;
}



.beautytip1{
	padding-top: 20px;
}



.beautytip p{
font-size:20px;
margin-left: 0px; 
}
	
.beautytip2,.beautytip3{
	padding :20px 20px 0 0;
}

.beautytip_link{
	text-decoration: none;
	color:black;
	padding-left: 8px;
	font-family: vintage;
	font-size: 30px;
}

.beautytip_mainlink{
	text-decoration:none;
	color: black;
}

.beautytip_content,.beautytip_link{
	font-family: 'Playfair Display', serif;
    font-family: 'Great Vibes', cursive;
    font-family: 'Amiri', serif;
	line-height: 25px;
	
} 

.beautytip_content{
	width:320px;
	color: black;
	
}  
.beautytip p{
	font-size: 24px;
}


.jumbbutton{   
	margin: 10px 450px  ;
}

.jumbhead{
	margin: 350px 420px 0px 420px ;
}

.jumbcontent{
	margin-right: 500px;
	margin-bottom: -40px;
	color:black;
	margin: 20px 300px;
}


.tabpane{
	width: 100%;
	background: black;
	font-size: 20px;	
}

.tabs{
	margin:60px 250px;
}
.tabs a{
	color:white;
}

.heading, #classHeading, #galleryHeading, #timings	{
	font-size: 25px;
}

.heading	{
	font-family: 'Playfair Display', serif;
    font-family: 'Great Vibes', cursive;
    font-family: 'Amiri', serif;
    font-size: 25px;
	width: 350px;
	padding: 22px;
	text-align: justify;
	color: black;
}

#classHeading 	{
	font-family: 'Playfair Display', serif;
    font-family: 'Great Vibes', cursive;
    font-family: 'Amiri', serif;
	height: 100px;
	color: black;
	margin-top: 30px;
	margin-bottom: 20px;
	padding-bottom: 10px;

}

#classHeading p{
	color: black;
	font-size: 25px;
}

.top{
	margin-left: 900px;
}

li a	{
	text-decoration: none;
	
}

ul a:hover	{
	color: blue;
}

#myCarousel	{
	margin-top: 100px;
}

.gallery {
	padding-top: 0px;
}

footer	{
	background-color:#020D21 ;
	height: 30px;
	margin-top: 50px;
	#padding: 10px 10px;
	width: 100%;
	background: black;
	
}

.subscribe	{
	font-size: 25px;
	font-style: bold;
	margin-top: 30px;
	padding-bottom: 50px;
}

.input	{
	height: 40px;
	width: 300px;
	margin-left: 15px;
	#padding:5px 0;
	color: black;
	margin-top: 5px;
}

#input[type="button"]	{
	width: 100px;
	height: 45px;
	#font-family: 'Dosis', sans-serif;
	margin-bottom: 100px;
	margin-left: 50px;

}


.social	{
	margin-top: 30px;
	display: inline;
	font-size: 40px;
	float: right;
	color: black;
	letter-spacing: 15px;
}

.socialmedia{
	background:black;
}

html,body{
	width: 100%;
	height: 100%;
	margin: 0px;
	overflow-x:hidden;
}



@media (max-width: 320px){

     .style{
		margin-top: 0px;
		font-size:50px;
		margin-left: -280px;
	}

	.googlefont{
		margin-top: 0px;
		height: 80px;
		font-size: 20px;
		
	}

	.heading{
		/*height: 30px;*/
		width: 300px;
		text-align: justify;
		font-size: 20px;
	}
	.fashionImg1, .fashionImg2, .fashionImg3{
		width: 250px;
		height: 250px;
	}

	#classHeading p{
		font-size: 20px;
		text-align: justify;
	}
	.fashiontip img{
		height: 300px;
		margin:0px 30px;
	}
	.fashiontip1 img{
         height: 300px;
		margin:0px 30px;
	}
	.fashiontip_content,.fashiontip_head{
		font-size: 20px;
		margin: 0px 30px;
	}
	.beautytip  {
         margin-left:0px;
         
	}
	.beautytip_content {
		width: 250px;
		font-size: 15px;
	}
	.beautytip_link{
		font-size:20px;
	}
	.tabpane{
		margin-top: 0px;
		font-size:15px;
		width: 680px;
	}
	.tabs{
		margin-left: 0px;
	}

	.jumbotron{
          padding: 0px;
          margin-top: -300px; 
	}

	.jumbhead{
	    margin:330px 0px 0px 70px;
		font-size:15px;
		
	}

	.jumbbutton{
		margin-left: 70px;

	}
	.jumbcontent{
		font-size:15px;
		margin-right: -5px;
		 margin:0px 0px 0px 20px;
	}
	.top{
		float: left;
		margin-left: 200px;
	}
	
}


@media (max-width: 768px){

	.carousel1{
		padding-top:60px;
        
	}

	.style{
	  	margin: -20px -90px  ;
	  }

	.googlefont{
		height: 80px;
		font-size: 50px;
	}

	.heading{
		width: 200px;
		text-align: justify;
		font-size: 20px;
	}
	.fashionImg1, .fashionImg2, .fashionImg3{
		width: 200px;
		height: 200px;
		margin-top: -5px;
	}

	#classHeading p{
		font-size: 20px;
		text-align: justify;
	}
	.fashiontip img{
		height: 300px;
		width: 200px;
	}
	.fashiontip1 img{
         height: 300px;
         width: 200px;
		margin-top: 50px;
		float: left;
		padding-left: -100px;
	}
	.fashiontip_content,.fashiontip_head{
		font-size: 20px;
        width: 200px;
		margin:30px 0px 0px 30px;
	}
	.beautytip  {
         margin-left:0px;
         
	}
	.beautytip_content {
		width: 250px;
		font-size: 15px;
	}
	.beautytip_link{
		font-size:20px;
	}
	.tabpane{
		margin-top: 0px;
		font-size:15px;
		width: 680px;
	}
	.tabs{
		margin-left: 0px;
	}

	.jumbotron{
          padding-top: 0px;
          margin-top: 190px; 
	}

	.jumbhead{
	    margin:0px 200px;
		font-size:15px;
	}

	.jumbbutton{
		margin-left: 210px;

	}
	.jumbcontent{
		font-size:15px;
		margin:10px 220px 10px 0px;
	}
	.top{
		float: left;
		margin-left: 500px;
	}

}

